h1
  font-size: 50px
  font-family: $exbold-font
  line-height: 66px
  letter-spacing: 1px
  padding-bottom: 20px

h2
  font-size: 36px
  font-family: $exbold-font
  line-height: 40px
  letter-spacing: .7px
  padding-bottom: 20px

h3, button
  font-family: $bold-font

h3
  font-size: 18px
  letter-spacing: .2px

a
  font-family: $medium-font

p
  font-size: 15px
  font-family: $default-font
  line-height: 25px
  padding-bottom: 20px

h2, h3, p
  color: $black

.description
  font-size: 18px
  
.logo
  font-family: $exbold-font
  font-size: 31px
  color: #fff

.hat
  padding-top: 2px

.nav
  padding-top: 2px
  padding-bottom: 160px
  padding-left: 3px
  cursor: default
  text-align: right

  a
    color: $black
    margin: 0 5px 0 20px 
    position: relative
    top: 3px
    display: inline-block
    font-size: 15px

    &:after
      content: ' '
      display: block
      width: 100%
      height: 3px
      background-image: $gradient
      background-position: -100px 0
      background-repeat: no-repeat
      transition: background-position .3s ease

    &:visited, &:active, &:hover
      text-decoration: none

    &:hover 
      &:after
        background-position: 0 0

  button
    padding: 0
    height: 50px
    width: 120px
    margin-left: 20px
    background-image: $gradient
    background-repeat: no-repeat
    background-color: #fff
    background-position: -120px 0
    border: 2px solid rgba(42, 45, 47, .1)
    border-radius: 5px
    transition: background-position .2s linear

    span
      display: block
      background-image: $gradient
      background-repeat: no-repeat
      background-color: #fff
      background-position: 0px 0
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
      transition: background-position .2s linear

    &:hover, &:focus
      background-color: #fff
      background-position: 0 0
      color: #fff
      border: none
      outline: none
      cursor: pointer

      span
        background-color: #fff
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        background-position: 120px 0

.development
  p, h1
    color: #fff

.download
  margin-top: 6px
  background-color: #fff
  color: #36a2f4
  border: none
  border-radius: 5px
  padding: 12px 28px
  margin-left: 0
  transition: margin-left .3s ease, margin-top .3s ease

  &:hover, &:focus
    cursor: pointer
    outline: none

header .img
  // background-image: url(../img/pic/development-img.png)
  // background-repeat: no-repeat
  // background-size: contain
  // overflow: visible
  // height: 800px
  // width: 800px
  right: -40px

  @media (max-width: 1540px)
    right: 0
    padding-bottom: 150px
    img
      width: 100%
      height: 100%

  @media (max-width: 1260px)
    padding-bottom: 230px

  @media (max-width: 992px)
    height: 400px
    img
      display: none

.header
  padding-bottom: 70px

.features 
  padding: 0 30px
  text-align: center

  p
    letter-spacing: .1px

.item
  padding-bottom: 50px

  .bg-img
    border-radius: 50%
    background-color: rgba(65, 148, 252, .05)
    width: 160px
    margin: 0 auto

  img
    padding: 40px

  h3
    padding-top: 43px
    padding-bottom: 5px
  p
    text-align: center
    padding: 0 30px

.information
  padding-top: 50px
  
  @media (max-width: 992px)
    text-align: center

  h2
    padding-top: 56px
    line-height: 50px

  .row:nth-child(2n+1)
    div:last-child
      padding-left: 0
      padding-right: 0
      right: -215px 

      img
        padding: 0 60px 128px 0
        background-image: url(../img/bg/information-bg-1.svg)
        background-repeat: no-repeat  
        background-size: 95%
        background-position: 0 -30px   

      @media (max-width: 1580px)
        right: 0
        padding-left: 30px
        padding-right: 30px
        img
          padding: 0 0 128px
          width: 100%

      @media (max-width: 992px)
        padding-top: 28px

  .row:nth-child(2n)
    div:first-child
      padding-left: 0
      padding-right: 0
      padding-top: 45px
      @media (min-width: 992px)
        order: 2

    div:last-child
      left: -200px
      text-align: center
      img
        padding: 0 128px 100px
        background-image: url(../img/bg/information-bg-2.svg)
        background-repeat: no-repeat  
        background-size: contain
        background-position: 10px 0px 

      @media (max-width: 1580px)
        left: 0
        padding-left: 30px
        padding-right: 30px
        img
          padding: 0 0 128px
          width: 100%

      @media (max-width: 992px)
        padding-top: 28px

.work
  text-align: center
  padding: 357px 30px 375px

  h2, h3, p
    color: #fff

  .row > div:first-child
    padding-bottom: 30px

  .row > div:not(:first-child)
    padding: 0 45px 20px

    @media (max-width: 992px)
      padding: 0 0 20px 0
  
  h3
    margin-top: -18px
    padding-bottom: 5px

.partners
  text-align: center
  padding-bottom: 160px

  img
    filter: grayscale(1)
    opacity: .3

  h2
    padding-bottom: 48px

  .row
    padding: 0 90px
    div:not(:first-child)
      align-self: center
      padding: 27px 0

footer
  span, i
    color: #fff
  .nav
    padding-left: 0
    padding-right: 0
    padding-bottom: 0
    padding-top: 6px
    text-align: center
    a
      color: #fff
      line-height: 25px

  .row
    align-items: center

  .row > div:last-child
    text-align: right
    font-size: 15px
    margin-top: 10px
    line-height: 26px
    font-family: $medium-font
    a
      text-decoration: none
    i
      padding-right: 6px
  
//backgrounds
.bg-development
  background-image: url(../img/bg/development-bg.png)
  background-repeat: no-repeat
  background-size: cover
  padding-top: 36px
  padding-bottom: 60px

.bg-features
  background-image: url(../img/bg/features-bg.png)
  background-repeat: no-repeat
  background-size: cover
  padding-top: 645px
  padding-bottom: 208px
  margin-top: -455px

.bg-work
  background-image: url(../img/bg/work-bg-2.png)
  background-repeat: no-repeat
  background-size: cover
  height: 100%
  margin-top: -27px
  position: relative

  @media (max-width: 1260px)
    padding-top: 100px

  @media (max-width: 992px)
    padding-top: 240px
    padding-bottom: 100px

  &:after
    content: ' '
    display: block
    position: absolute
    top: -40px
    width: 100%
    min-height: 1700px
    background-image: url(../img/bg/work-bg-1.png)
    background-repeat: no-repeat
    z-index: -1

.bg-footer
  background-image: url(../img/bg/footer-bg.png)
  background-repeat: no-repeat
  padding-bottom: 55px
  padding-top: 167px